@import "tailwindcss";

@theme {
  --color-volt: #D9FF30;
  --color-pink: #FF30D9;
  --color-blue: #30D9FF;
  --font-syne: "Syne", sans-serif;
}

@layer base {
  html {
    /* Performance: Ensures the page doesn't jump when Syne loads */
    font-family: var(--font-syne);
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum" 1;
    
    /* Accessibility & Design: Ensures crisp text on dark backgrounds */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* Performance: Prevents 'overscroll' jank on mobile */
    overscroll-behavior-y: none;
    
  }
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/syne-v24-greek_latin-regular.woff2') format('woff2');
}


@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/syne-v24-greek_latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/syne-v24-greek_latin-800.woff2') format('woff2');
}