---
import Button from "../Button.astro";
---

<section
  class="flex flex-col items-center justify-center px-2 sm:px-6 pt-32 md:pt-48 md:pb-20 font-syne"
>
  <div class="max-w-7xl flex flex-col items-center text-center gap-2">
    <h1 class="text-3xl md:text-6xl font-bold tracking-tighter text-zinc-950">
      E-shops, ιστοσελίδες και landing pages <br />

      <span class="relative inline-block">
        <span class="relative z-10">χωρίς συμβιβασμούς.</span>
        <span class="absolute bottom-1 left-0 w-full h-6 bg-volt rounded-full"
        ></span>
      </span>
    </h1>

    <p
      class="text-xm md:text-3xl text-slate-700 font-medium max-w-7xl sm:pt-4"
    >
      Έχουμε τις πιο γρήγορες ιστοσελίδες στην αγορά, απλώς κάνε refresh και θα
      καταλάβεις. <br /> Οι τιμές μας είναι οικονομικές και δουλέβουμε με το budget του
      εκάστωτε πελάτη. <br />
      Θελεις το eshop σου να πετάει?
    </p>

    <div class="flex flex-col sm:flex-row items-center gap-6 mt-4">
      <Button variant="primary" href="/contact"> Φόρμα Επικοινωνίας </Button>
      <Button variant="outline" href="/services"> Δες υπηρεσίες </Button>
    </div>
  </div>
</section>
