---
// src/components/Marquee.astro

const marqueeItems = [
  { text: "LAUNCH OFFER", isItalic: true, color: "text-white" },
  { text: "★", isItalic: false, color: "text-violet-500" },
  { text: "ΠΡΟΝΟΜΙΑΚΕΣ ΤΙΜΕΣ", isItalic: false, color: "text-white" },
  { text: "★", isItalic: false, color: "text-violet-500" },
  { text: "ΕΠΙΚΟΙΝΩΝΗΣΕ ΤΩΡΑ", isItalic: true, color: "text-white" },
  { text: "★", isItalic: false, color: "text-violet-500" },
];
---

<div class="overflow-hidden">
  <div
    class="relative flex overflow-x-hidden border-y-4 border-black bg-zinc-950 py-4 font-syne pointer-events-none -rotate-2 scale-105 z-10 my-12"
  >
    <div class="animate-marquee whitespace-nowrap flex items-center">
      {
        marqueeItems.map((item) => (
          <span
            class:list={[
              "text-base md:text-3xl font-black uppercase mx-4 md:mx-8",
              item.color,
              { italic: item.isItalic },
              item.text === "///" ? "tracking-widest" : "",
            ]}
          >
            {item.text}
          </span>
        ))
      }
    </div>

    <div
      class="absolute top-0 animate-marquee2 whitespace-nowrap flex items-center py-4"
    >
      {
        marqueeItems.map((item) => (
          <span
            class:list={[
              "text-base md:text-3xl font-black uppercase mx-4 md:mx-8",
              item.color,
              { italic: item.isItalic },
              item.text === "///" ? "tracking-widest" : "",
            ]}
          >
            {item.text}
          </span>
        ))
      }
    </div>
  </div>
</div>

<style>
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }

  .animate-marquee2 {
    animation: marquee2 25s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
</style>